.add-products__wrapper {
  .container();
  width: 100%;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.add-products__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.add-products__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  top: 65%;
  transform: translateY(-50%);

  @media (min-width: @desktop-width) {
    top: 66%;
  }
}

.add-products__title-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  max-width: fit-content;
  width: 270px;
  left: -20px;

  @media (min-width: @tablet-width) {
    padding: 0 36px 0 37px;
    width: 420px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 40px;
    left: -40px;
  }
}

.add-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    border: solid 1px #cdcdcd;
    width: 100%;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    width: 895px;
    margin-bottom: 0;
  }
}

.add-products__item {
  border-bottom: solid 1px #cdcdcd;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.add-products__item:first-child {
  border-top: solid 1px #cdcdcd;

  @media (min-width: @tablet-width) {
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    border-top: solid 1px #cdcdcd;
  }
}

.add-products__item:last-child {
  @media (min-width: @tablet-width) {
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    border-bottom: solid 1px #cdcdcd;
  }
}

.add-products__item-title {
  margin: 0;
  padding-top: 13px;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 26px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
    padding-left: 1px;
    margin-bottom: 0;
  }
}

.add-products__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: @desktop-width) {
    width: 285px;
    margin-left: auto;
    margin-right: 40px;
  }
}

.add-products__item-text {
  font-family: @lato;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-top: 28px;
    margin-left: 47px;
    padding-right: 3px;
    min-width: 43px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    text-align: left;
  }
}

.add-products__button {
  .button();
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px 10px;
  margin-bottom: 19px;
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    padding: 11px 90px 9px;
    margin-top: 15px;
    margin-bottom: 16px;
  }
}

.add-products__present {
  min-width: 280px;
  min-height: 290px;
  background-image: image-set(
    url("../img/present-background.webp") 1x,
    url("../img/present-background.jpg") 1x
  );
  background-color: rgba(104, 183, 56, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url("../img/present-background@2x.webp") 2x,
      url("../img/present-background@2x.jpg") 2x
    );
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: image-set(
      url("../img/present-background-tablet.webp") 1x,
      url("../img/present-background-tablet.jpg") 1x
    );
    background-color: rgba(104, 183, 56, 0.85);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 707px;
    min-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../img/present-background-tablet@2x.webp") 2x,
        url("../img/present-background-tablet@2x.jpg") 2x
      );
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: image-set(
      url("../img/present-background-desktop.webp") 1x,
      url("../img/present-background-desktop.jpg") 1x
    );
    background-color: rgba(104, 183, 56, 0.85);
    background-position: center;
    background-repeat: no-repeat;
    width: 245px;
    min-width: 0;
    height: 289px;
    margin-top: 0;
    margin-left: auto;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../img/present-background-desktop@2x.webp") 2x,
        url("../img/present-background-desktop@2x.jpg") 2x
      );
    }
  }
}

.add-products__present::before {
  content: "";
  .zero-centered();
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);
}

.add-products__present::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 59px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 82px;
    left: 119px;
    top: 58px;
  }

  @media (min-width: @desktop-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.add-products__present-text {
  font-family: @lato;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #ffffff;
  padding: 187px 61px 43px 58px;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    width: 161px;
    padding: 0;
    right: 124px;
    top: 71px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    .zero-centered();
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 186px;
  }
}
