.example {
  background-color: #eaeaea;
  display: flex;
  padding: 25px 0 40px;

  @media (min-width: @tablet-width) {
    padding: 43px 0 101px;
    background: linear-gradient(#ffffff 60%, #ffffff 60%, #eaeaea 60%, #eaeaea 40%);
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 75px;
    background: linear-gradient(#ffffff 20%, #ffffff 20%, #eaeaea 20%, #eaeaea 80%);
  }
}

.example__wrapper {
  .container();
  width: 100%;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.example__text-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/ -1;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  font-family: @lato;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
    margin-bottom: 54px;
    grid-column: 1/ -1;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__frame-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 34px;
  gap: 32px;

  @media (min-width: @tablet-width) {
    gap: 42px;
    margin: 0;
    margin-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.example__frame-border {
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  padding: 14px 21px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 126px;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.example__result {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
    text-align: left;
    margin-left: 0;
  }
}

.example__frame-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__frame-description {
  text-align: center;
  font-family: @lato;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 87px;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    width: 140px;
  }

  @media (min-width: @desktop-width) {
    background-color: #eaeaea;
  }
}

.example__slider {
  background-color: transparent;
  margin: 0 auto;
}
