.field {
  margin: 0;
}

.field__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 15px 13px;
  border: solid 1px #e7e7e7;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input--email {
  color: #444444;
}

.field__input--telefone {
  color: #444444;
}
