.fieldset {
  padding: 0;
  border: none;
}

.fieldset__wrapper {
  .form-container();
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}

.fieldset__title {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
  }
}

.fieldset__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  top: 65%;
  transform: translateY(-50%);
}

.fieldset__title-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  max-width: fit-content;
  width: 260px;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
    width: 600px;
    margin-left: 4%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    margin-left: 5%;
  }
}

.fieldset__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }
}

.fieldset__list--border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 22px 0 19px;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 30px 28px;
  }
}

.fieldset__list--row {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
  }
}

.fieldset__list--checkbox {
  padding-top: 5px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 80px;
  }
}

.fieldset__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fieldset__textarea {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;
  display: flex;
  width: 100%;
  padding: 9px 12px 9px 15px;
  text-transform: uppercase;
  resize: none;
  border-radius: 0;
  border: solid 1px #e7e7e7;
  margin-top: 3px;
  outline: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    margin-top: 14px;
  }

  &:hover {
    border: solid 1px #cdcdcd;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px #444444;
    border: solid 1px #444444;
  }
}
