.fieldset {
  padding: 20px 0;
  border: none;

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
}

.fieldset__title {
  padding: 0;
  color: #000000;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fieldset__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {

  }
}

.fieldset__item {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
  }
}

.fieldset__label {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-right: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset__input {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 15px 13px;
  border: solid 1px #e7e7e7;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset__input--email {
  color: #444444;
}

.fieldset__input--telefone {
  color: #444444;
}

.fieldset--wide {

  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/ -1;
  }
}

.fieldset__list--wide {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.fieldset__textarea {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-family: inherit;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset--border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: 1px solid #e7e7e7;
  }
}
