.intro {
  position: relative;
}

.intro__background-wrapper {
  background: rgba(104, 183, 56, 0.85) url("../img/index-background-mobile.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0;

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    background: rgba(104, 183, 56, 0.85) url("../img/index-background-desktop.jpg") no-repeat center;
    background-size: cover;
    height: 694px;
    right: 0;
    top: -111px;
    width: 50%;
  }
}

.intro__background-wrapper::before {
  content: "";
  .zero-centered();
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    content: "";
    .zero-centered();
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.intro__wrapper {
  .container();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 110px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    padding: 0 190px;
  }
}

.intro__title {
  position: relative;
  margin: 0;
  padding: 27px 0 25px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    color: #000000;
    width: 420px;
    padding-top: 110px;
  }
}

.intro__description {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    color: #000000;
  }
}

.intro__image {
  position: relative;
  align-self: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    right: 550px;
    top: 120px;
    z-index: 2;
  }
}

.intro__button {
  .button();
  padding: 8px 44px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  display: block;

  @media (min-width: @tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 250px;
    width: 244px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 217px;
  }
}
