.intro {
  position: relative;

  @media (min-width: @desktop-width) {
    position: inherit;
  }
}

.intro__background-wrapper {
  background-image: image-set(
    url("../img/index-background-mobile.webp") 1x,
    url("../img/index-background-mobile.jpg") 1x
  );
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0;

  @media (min-resolution: 2dppx) {
    background-image: image-set(
      url("../img/index-background-mobile@2x.webp") 2x,
      url("../img/index-background-mobile@2x.jpg") 2x
    );
  }

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    background-image: image-set(
      url("../img/index-background-desktop.webp") 1x,
      url("../img/index-background-desktop.jpg") 1x
    );
    background-color: rgba(104, 183, 56, 0.85);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 694px;
    right: 0;
    top: 0;
    width: 50%;

    @media (min-resolution: 2dppx) {
      background-image: image-set(
        url("../../img/index-background-desktop@2x.webp") 2x,
        url("../img/index-background-desktop@2x.jpg") 2x
      );
    }
  }
}

.intro__background-wrapper::before {
  content: "";
  .zero-centered();
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    content: "";
    .zero-centered();
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.intro__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 120px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    padding: 0 190px;
  }
}

.intro__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  padding-left: 2px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    max-width: 417px;
    margin-bottom: 42px;
    padding-top: 59px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    padding-top: 107px;
  }
}

.intro__description {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 29px;
  max-width: 200px;
  align-self: center;
  background-color: rgba(104, 183, 56, 0.2);

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-bottom: 49px;
    max-width: 350px;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__image {
  display: flex;
  position: relative;
  left: -15px;
  width: 293px;
  height: 270px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    top: 258px;
    left: 405px;
    transform: translateX(-50%);
    width: 660px;
    height: 602px;
  }

  @media (min-width: @desktop-width) {
    left: 834px;
    top: 25px;
    z-index: 2;
    width: 552px;
    height: 499px;
  }
}

.intro__image img {
  width: 100%;
  height: 100%;
}

.intro__button {
  .button();
  padding: 11px 44px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  display: block;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 506px;
    margin-top: 0;
    width: 245px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 197px;
  }
}
