.main-index__intro {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.main-index__programms {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-index__description {
  margin: 0;
}

.main-index__example {
  margin: 0;
}
