.main-index__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-index__programms {
  margin: 0;
}

.main-index__description {
  padding: 0 20px 30px;
}

.main-index__example {
  padding: 25px 20px 20px;
}

.main-index__slider {
  padding: 0;
}
