.map {
  display: flex;
  padding: 26px 20px;

  @media (min-width: @tablet-width) {
    padding: 59px 70px 56px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {

  }
}

.map--inner {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {

  }
}

.map__header {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 171px;
  }

  @media (min-width: @desktop-width) {

  }
}

.map__contacts {
  font-family: @lato;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 175px;
    text-align: left;
  }
}

.map__wrapper {
  margin: 0;
  display: none;
}
