.navigation {
  position: relative;
}

.navigation__list {
  display: none;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 17px;
  right: -20px;
  z-index: 10;
}

.navigation__item {
  padding: 0;
  text-align: center;
  border-bottom: solid 1px #e6e6e6;
  background-color: #ffffff;

  &:first-child {
    border-top: solid 1px #e6e6e6;
  }
}


.navigation__link {
  padding: 22px 70px;
  width: 180px;
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.navigation__link:hover,
.navigation__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__link--current {
  margin: 0;
}
