.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: @desktop-width) {
    padding-top: 51px;
  }
}

.navigation__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

.navigation__list {
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 65px;
  right: 0;
  z-index: 10;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: static;
    margin-left: auto;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    min-width: 447px;
  }
}

.navigation__item {
  padding: 0;
  text-align: center;
  border-bottom: solid 1px #e6e6e6;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.navigation__item:first-child {
  border-top: solid 1px #e6e6e6;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.navigation__link {
  padding: 22px 40px;
  width: 100%;
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: auto;
    min-width: 64px;
    padding: 17px 11px 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 6px 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.navigation__link:hover,
.navigation__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__link--current {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid #68b738;
  }
}

.navigation__list--secondary .navigation__item {
  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.navigation__list--secondary .navigation__link {
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.navigation__list--secondary .navigation__link--current {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.navigation--opened .navigation__list {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.navigation--nojs .navigation__list {
  display: block;
  margin-bottom: 200px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
  }
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
