.present {
  margin: 0;
}

.present__text {
  font-family: @lato;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
  padding: 186px 59px 43px;
  text-align: center;
  position: relative;
  background: rgba(104, 183, 56, 0.85) url("../img/present-background.jpg") no-repeat center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {

  }
}

.present__text::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 82px;
  }

  @media (min-width: @desktop-width) {

  }
}

