.product {
  margin: 0;

  @media (min-width: @tablet-width) {
    background: linear-gradient(#ffffff 14%, #ffffff 14%, #f2f2f2 14%, #f2f2f2 86%);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(#ffffff 14.3%, #ffffff 14.3%, #f2f2f2 14.3%, #f2f2f2 85.7%);
  }
}

.product__link {
  text-decoration: none;
}


.product__image-wrapper {
  margin: 0 28px 8px;
  display: flex;
  align-items: flex-end;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  width: 84px;
  height: 100px;

  @media (min-width: @tablet-width) {
    margin: 0;
    align-self: center;
    margin-bottom: 27px;
    width: 173px;
    height: 204px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    width: 172px;
    height: 196px;
  }
}

.product__image-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product__image-wrapper picture {
  display: flex;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
  }
}

.product__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 22px;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
    gap: 13px;
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    gap: 16px;
  }
}

.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  width: 76px;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-start;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    text-align: center;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 2px 0 8px;
    line-height: 21px;
  }
}

.product__button {
  .button();
  padding: 10px 110px 10px;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding: 10px 95px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 50px;
  }
}

.product__list-about {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.product__item-about {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 8px 0 7px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    padding: 6px 1px 9px;
  }
}

.product__text-about {
  font-family: @lato;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
