.product {
  margin: 0;
}

.product__link {
  text-decoration: none;
}


.product__image-wrapper {
  margin: 0;
}

.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.product__button {
  .button();
  padding: 10px 109px;
  display: block;
}

.product__list-about {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product__item-about {
  display: flex;
  justify-content: space-between;
}

.product__text-about {
  .lato();
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

