.programms {
  background-color: #ffffff;
  .container();
}

.programms__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0 20px;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    gap: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
    flex-direction: row;
    padding: 70px 0 71px;
  }
}

.programms__card {
  min-width: 240px;
  min-height: 266px;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 20px 18px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 100%;
    padding: 77px 62px 57px 53px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    max-width: 570px;
    padding: 46px 61px 59px 34px;
  }
}

.programms__image {
  margin-right: 5px;
  position: relative;
  width: 67px;
  height: 50px;
  left: -6px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    position: absolute;
    left: 412px;
    top: 91px;
    width: 269px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-right: 46px;
    width: 134px;
    height: 97px;
  }
}

.programms__image--lite img {
  top: -3px;

  @media (min-width: @tablet-width) {
    top: -13px;
  }

  @media (min-width: @desktop-width) {
    top: -5px;
  }
}

.programms__image::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    left: 102px;
    top: 47px;
  }
}

.programms__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.programms__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-top: 0;
    max-width: 350px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.programms__description {
  font-family: @lato;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #444444;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 14px;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 52px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 470px;
    margin: 0;
    padding: 43px 0 27px 17px;
  }
}

.programms__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding-top: 16px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 19px;
  }

  &:hover {
    color: #000000;
  }

  &:active {
    color: rgba(0, 0, 0, 0.5);
  }
}

.programms__link-text {
  width: 103px;
  z-index: 2;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 133px;
    max-width: 134px;
  }
}

.programms__link-icon {
  overflow: hidden;
  position: absolute;
  left: 95px;
  transition: 250ms ease-in;

  @media (min-width: @tablet-width) {
    left: 125px;
  }

  @media (min-width: @desktop-width) {
    left: 143px;
  }
}

.programms__link:active .programms__link-icon,
.programms__link:hover .programms__link-icon {
  left: 103px;
  transition: 250ms ease-out;

  @media (min-width: @tablet-width) {
    left: 133px;
  }

  @media (min-width: @desktop-width) {
    left: 151px;
  }
}
