.slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__view {
  position: absolute;
  top: 0;
}

.slider__view img {
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }
}

.slider__view--before {
  width: 50%;
  z-index: 2;
  overflow: hidden;
}

.slider__view--after {
  z-index: 1;
  overflow: hidden;
  width: 50%;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.slider__dragme {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 138px;
  background-color: #666666;
  border-radius: 2px;
  cursor: pointer;
  z-index: 30;
  display: block;
  pointer-events: auto;

  @media (min-width: @tablet-width) {
    left: 278px;
  }

  &:hover {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
  }
}

.slider__dragme-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  left: -18px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #666666;
  background-color: #ffffff;
  border: solid 2px #666666;
  cursor: pointer;
  z-index: 30;
}

.slider__dragme:hover .slider__dragme-circle {
  color: #68b738;
  border: solid 2px #68b738;
}

.slider__dragme:active .slider__dragme-circle {
  color: #5eaa2f;
  border: solid 2px #5eaa2f;
}
