.work-description {
  display: flex;
  flex-direction: column;
}

.work-description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.work-description__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work-description__item {
  display: flex;
}
