.work-description {
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 103px;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    padding-bottom: 126px;
  }
}

.work-description__wrapper {
  .container();
  width: 100%;
  padding-left: 21px;
}

.work-description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.work-description__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: num;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 134px 62px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 78px;
  }
}

.work-description__item {
  display: flex;
  min-width: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.work-description__item::after {
  @media (min-width: @tablet-width) {
    content: counter(num);
    counter-increment: num;
    color: #f2f2f2;
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    z-index: 0;
    top: -39px;
    right: 75px;
  }

  @media (min-width: @desktop-width) {
    right: -2px;
    top: -40px;
    font-size: 280px;
    line-height: 280px;
  }
}

.work-description__item:first-child::after {
  @media (min-width: @tablet-width) {
    right: 97px;
  }

  @media (min-width: @desktop-width) {
    right: 22px;
  }
}
