*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  min-width: 320px;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
  }
}
