.button() {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 35%;
  }
}

.lato() {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
}
